+++
title = "Material-UI-Swing"
linkTitle = "Material-UI-Swing"
+++

{{< blocks/cover title="Welcome to Material-UI-Swing WebSite" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-outline-light rounded-0" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-outline-light rounded-0" href="https://github.com/vincenzopalazzo/material-ui-swing/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-outline-light rounded-0" href="https://material-ui-swing.github.io/material-ui-swing-donations">
		Donate <i class="fas fa-donate ml-2 "></i>
	</a>
	<p class="lead mt-5">A modern Material Design UI for Java Swing!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
TODO:

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
